/* new */

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap");
/* body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f1f3f5;
  padding: 0;
  margin: 0;
  overflow: hidden;
} */

.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 350px;
}

.work-title {
  white-space: nowrap;
  padding-top: 20px;
}

.title {
  position: relative;
  width: 350px;
}
.title h1 {
  font-size: 2rem;
  margin: 8px 0;
}
.product-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 80px;
}

.cards {
  width: 100%;
  display: flex;
  overflow-y: hidden;
  justify-content: space-around;
  cursor: pointer;
  padding-top: 20px;
}

.cards::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.item-container {
  flex-shrink: 0;
  margin-right: 30px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
.item-container > a {
  color: black;
  text-decoration: none;
}
.item {
  background: #fff;
  padding: 24px 55px;
  border-radius: 12px;
  height: 100%;
}

.item:hover {
  color: #8490ff !important;
}

.date {
  font-size: 16px;
  color: #777777;
}

@media screen and (max-width: 1000px) {
  .cards {
    justify-content: space-between;
    padding-left: 15px;
  }
}

@media screen and (max-width: 480px) {
  .work-container {
    position: unset;
    transform: unset;
  }
  .cards {
    flex-direction: column;
    padding-top: 0px;
    padding-right: 15px;
  }
  .item-container {
    margin: 20px 0px 20px 5px;
  }
}

.product-row .card .category {
  font-size: 0.875rem;
  color: #424550;
  font-weight: 500;
  text-align: center;
  width: 100%;
  margin-bottom: 32px;
  display: block;
}
.product-row .card img {
  display: flex;
  margin: 0 auto;
}
.product-row .card .product-info {
  position: absolute;
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 24px;
}
.product-row .card .product-info h4 {
  color: #282828;
  font-size: 1.1rem;
}
.product-row .card .product-info span {
  display: block;
}
.fullscreen {
  height: 100vh;
}
.fullscreen .product {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fullscreen .product .img {
  width: 50%;
  height: 100%;
  background: #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullscreen .product .img img {
  cursor: move;
  /* width: 500px; */
}

.fullscreen .product .product-details .inner p {
  color: #424550;
  font-weight: 300;
}

/* Individual work */
.work-details {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-weight: 500;
  font-size: 36px;
  display: block;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.subheading {
  font-weight: bold;
  font-size: 24px;
}

body[data-theme="dark"] .subheading {
  /* color: #423f3e; */
  color: #e3e3e3;
}

body[data-theme="dark"] a:hover .subheading {
  color: #8490ff;
}

.subheading * {
  font-family: "HK Grotesk", sans-serif;
}

.details {
  font-size: 18px;
}

.carousel-swiper {
  width: 100%;
  padding: 20px 40px;
}

.go-back {
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .heading {
    font-size: 24px;
  }

  .subheading {
    font-size: 15px;
  }

  .details {
    font-size: 15px;
    margin: 10px 0px;
  }
  .carousel-swiper {
    padding: 10px 40px;
  }

  .go-back {
    font-size: 15px;
  }
}
